main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  margin: 6rem 0;
  width: 50%;
  border: 1px solid var(--border-color);
  background-color: var(--background-light);
  font-size: 1.2rem;
}

.container img {
  width: 50%;
  margin: 2rem 0;
}
