main .home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 48px;
  margin: 96px 0;
  width: 50%;
  border: 1px solid var(--border-color);
  background-color: var(--background-light);
  font-size: 1.2rem;
}

.home-container img {
  width: 50%;
  margin: 32px 0;
}
