header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-dark);
  width: 100%;
}

.restaurant-name {
  font-size: 5rem;
  font-family: 'Tangerine';
}
