nav .nav-items {
  display: flex;
}

.nav-item {
  padding: 1rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  width: 160px;
  transition: border-bottom 0.3s ease-in-out;
}

.nav-item.active {
  border-bottom: 3px solid var(--font-color);
}
