/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Tangerine:wght@400;700&display=swap');

/* Variables */
:root {
  --font-color: #eee;
  --font-color-dark: #aaa;
  --border-color: #222;
  --background-light: rgba(0, 0, 0, 0.6);
  --background-light-hover: rgba(99, 99, 99, 0.4);
  --background-dark: rgba(0, 0, 0, 0.9);
}

/* Global styles */
html {
  box-sizing: border-box;
  font-family: 'Montserrat', 'cursive', system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: var(--font-color);
  font-size: 1.2rem;
  line-height: 1.5;
}

*,
*::before,
*::after {
  /* CSS Reset */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Catch errors */
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--font-color);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Header */

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-dark);
  width: 100%;
}

.restaurant-name {
  font-size: 5rem;
  font-family: 'Tangerine';
}

nav .nav-items {
  display: flex;
  gap: 1.5rem;
}

.nav-item {
  padding: 1rem 0;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
}

.nav-item.active {
  border-bottom: 3px solid var(--font-color);
}

/* Home Section */

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  margin: 6rem 0;
  width: 50%;
  border: 1px solid var(--border-color);
  background-color: var(--background-light);
  font-size: 1.2rem;
}

.container img {
  width: 50%;
  margin: 2rem 0;
}

/* Footer Section */
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--background-dark);
  line-height: normal;
}

.fa-github {
  font-size: 24px;
  color: var(--font-color);
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
